<div class="appbar">
  <div class="logoGreetingContainer">
    <div class="navButton">LOGO</div>
    <div class="greeting navButton">WELCOME  <p class="userData">{{user.first_name}}</p>! YOU HAVE THE <p class="userData">{{user.rol}}</p> ROL</div>
  </div>

  <div class="menuButtons">
    <div><a class="navButton {{#if active.products}}active{{/if}}" href="/api/products/view">PRODUCTS</a></div>
    <div><a class="navButton {{#if active.cart}}active{{/if}}" href="/api/cart/view">CART</a></div>
    <div><a class="navButton" href="/api/sessions/logout">LOGOUT</a></div>
  </div>
</div>